[submodule "lib/ZoneHelper"]
	path = lib/ZoneHelper
	url = https://github.com/NexusInstruments/ZoneHelper.git
[submodule "lib/RegExpUtils"]
	path = lib/RegExpUtils
	url = https://github.com/NexusInstruments/RegExpUtils.git
[submodule "lib/SimpleUtils"]
	path = lib/SimpleUtils
	url = https://github.com/NexusInstruments/SimpleUtils.git
[submodule "lib/RaidMemberHelper"]
	path = lib/RaidMemberHelper
	url = https://github.com/NexusInstruments/RaidMemberHelper.git